<h2>Zoned!    (Projekt Trackerman)</h2>

<br>

<p>Välkommen! Det du ser nu är administrations-programvaran för "Zoned!". Här skapar du Områden, Zoner och Platser samt ser detaljer om alla spelare!</p>

<h3>Områden</h3>
<p>Områden är större areor som i sin tur innehåller zoner. Områden kan vara orter som Valbo, Forsbacka men även städer som Sandviken, Gävle.
  Ett område är en samlingspunkt för zoner. Man får en bonus om man tar alla zoner inom ett område. </p>

<h3>Zoner</h3>

<p>Zoner är de områden som en 'tas' av en spelare. De skall vara av "lämplig storlek" dvs inte för små men ej heller för stora.</p>

<p>Zoner definieras som polygoner (en array av LAT/LONG-koordinater). En zon bör inte vara större än 200x200 meter</p>

<p>Exempel: 1) Ludvigsbergsskolan, Valbo 2) Gavlerinken, Gävle 3) Gävle sjukhus, Gävle </p>

<h3>Platser</h3>

<p>Platser är en väldefinierad punkt. Exempel: 1) Toppen på Hemlingbybacken 2) Statyn "Musicerande Genier" i Boulongerparken. 3) Flyttblocket vid Lunds fäbodar, Valbo </p>


<h3>Skatter</h3>

<p>Skatter är gömda föremål (ofta guldmynt) som man inte ser på sin karta (normalt). Man kan hitta dem genom att få tag på skattkartor med koordinater. Endast när man har en skattkarta och
  befinner sig mycket nära skatten kan man ta den. Ibland kan flera skattkartor behövs!</p>

<h3>Skattkartor</h3>

Skattkartor är något man tjänar ihop till, genom att röra sig stora sträckor, eller "ta" speciella platser. Man kan även tjäna skattkartor om man
tagit många platser inom en kort period, eller om man vinner på "Lyckohjulet"

<h3>Lyckohjulet</h3>

<p>Lyckohjulet kan man snurra på 2ggr per dygn. "Kostnaden" för att snurra på hjulet är att man måste titta på en reklamvideo eller liknande. Man kan vinna guldmynt, energi,
skattkartor med mera, med mera.</p>

<h3>Vänner</h3>

<p>Man kan förutom att spela i "SinglePlayer" läge, även spela i "MultiPlayer", och då kan man särskilja vänner från andra spelare. Man kan dessutom se var de är och vad de gör.</p>